# Jupyter Notebook files
.ipynb_checkpoints

# Python files
__pycache__/

# Example files
mitocheck_control_features
tmp/

# PyBaSiC
idrstream/PyBaSiC/

# ignore .cpproj files 
mitocheck_idr_cp.cpproj
