# Jupyter Notebook files
.ipynb_checkpoints
# Python files
__pycache__/
# Example files
example_files/asperaweb_id_dsa.openssh
mitocheck_control_features
mitocheck_control_features2
tmp2
# PyBaSiC
idrstream/PyBaSiC/
